<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTXApplicationID</key> <string>3e4d9175-218d-4748-865d-86cafc26dab5</string> <key>DTXBeaconURL</key> <string>https://bf83936vxo.bf.dynatrace.com/mbeacon</string> <key>DTXUserOptIn</key> <true/> <key>DTXStartupLoadBalancing</key> <true/> <key>DTXLogLevel</key> <string>ALL</string> 
    <key>DTXFlavor</key>
    <string>flutter</string>
  </dict>
</plist>